<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>{{ roomId }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exitRoom()">Exit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="chat-container ion-padding">
    <ng-container *ngFor="let chat of chatMessages">
      <div
        class="chat-bubble-container"
        [ngClass]="chat.type === 'incoming' ? 'incoming' : 'outgoing'"
      >
        <ng-container *ngIf="chat.type === 'incoming'; else outgoing">
          <div class="chat-bubble ion-margin-bottom">
            <div class="chat-sender">
              <label>{{ chat.clientId }}</label>
              <span class="ion-margin-start"
                >{{ parseTime(chat.timestamp) }}</span
              >
            </div>
            <p class="chat-content">{{ chat.content }}</p>
          </div>
        </ng-container>
        <ng-template #outgoing>
          <div class="chat-bubble ion-margin-bottom">
            <div class="chat-sender">
              <label>{{ chat.clientId }}</label>
              <span class="ion-margin-start"
                >{{ parseTime(chat.timestamp) }}</span
              >
            </div>
            <p class="chat-content">{{ chat.content }}</p>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </div>
</ion-content>
<ion-footer translucent>
  <div class="message-sender">
    <div class="input-container">
      <ion-input
        [(ngModel)]="messageInput"
        placeholder="Type message..."
        type="text"
        mode="ios"
        (keyup.enter)="sendMessage()"
      ></ion-input>
    </div>
    <ion-button
      class="btn-send"
      mode="ios"
      fill="clear"
      (click)="sendMessage()"
    >
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
