#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;
  min-width: 280px;
  max-width: 400px;
  margin: 0 auto;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container a {
  text-decoration: none;
}

.form-input {
  label {
    display: block;
    margin-bottom: 0.5em;
    //color: #efefef;
    text-align: start;
  }

  ion-input {
    background-color: #3c3c3c;
    border-radius: 0.75em;
  }
}

.socket-status {
  position: absolute;
  bottom: 0;
  right: 1em;

  span {
    font-size: 0.7em;
    margin: 0;
  }
}
